/* unvisited link */
a:link {
    color: #ccc;
}

/* visited link */
a:visited {
    color: #23263D;
}

/* mouse over link */
a:hover {
    color: rgba(99, 181, 212, 0.8);
}

.nav-wrapper {
    background-color: rgba(99, 181, 212, 0.8);
    border: 2px solid rgba(2, 67, 96, 0.8);
}

.grid-container {
    display: grid;
    grid-template-columns: auto;
    background-color: #23263D;
    padding: 10px;
}

.grid-item {
    background-color: rgba(99, 181, 212, 0.8);
    border: 1px solid rgba(2, 67, 96, 0.8);
    padding: 20px;
    font-size: 30px;
    text-align: center;
}
